{% set turnserver = salt['grains.filter_by']({
    'Debian': {
        'conf': '/opt/turnserver/etc/turnserver.conf',
        'userdb': '/opt/turnserver/etc/turnuserdb.conf',
        'version': '3.2.5.7',
        'checksum': '8a99edcc826167dc9f7d07fb41212a458acd917e',
    },
}, merge=salt['pillar.get']('turnserver:lookup')) %}
