{% set postgresql = salt['grains.filter_by']({
    'Debian': {
        'user': 'postgres',
        'group': 'postgres',
        'shell': '/usr/sbin/nologin',
        'version': '9.4.1',
        'checksum': '8df613a83654a32ba5a1008510234931',
        'db_user': 'test',
        'db_password': 'test',
        'db': 'test',
    },
}, merge=salt['pillar.get']('postgresql:lookup')) %}
