{% set iptables = salt['grains.filter_by']({
    'Debian': {
        'package': 'iptables',
        'service': 'iptables',
        'rules': '/etc/iptables.rules',
    },
}, merge=salt['pillar.get']('iptables:lookup')) %}
